USE [CipherHunt]
GO
/****** Object:  StoredProcedure [dbo].[spa_Application_Config]    Script Date: 9/25/2024 6:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[spa_Application_Config] @flag VARCHAR(5)
AS
-----------------Declare variable to be return for the application configuration------------------    
DECLARE @LOGO_HEIGHT VARCHAR(5)=NULL
	,@LOGO_WIDTH VARCHAR(5)=NULL
	,@BACKGROUND_IMAGE VARCHAR(50)=NULL
	,@LOGO VARCHAR(50)=NULL
	,@DATE_FORMAT VARCHAR(20)=NULL
	,@DATE_REGULAR_EXPRESSION NVARCHAR(200)=NULL
	,@DATE_MASKING_FORMAT VARCHAR(20)=NULL
	,@COMPANY_NAME VARCHAR(50)=NULL
	,@WEB_URL VARCHAR(100)=NULL
	,@SYSTEM_NAME VARCHAR(50)=NULL
	,@CLIENT_EMAIL VARCHAR(50)=NULL
	,@ADDRESS VARCHAR(max)=NULL
	,@CLIENT_PHONE VARCHAR(50)=NULL
	,@MAIL_PROFILE varchar(50)=NULL
	,@ISO2 char(2)=NULL
	,@ISO3 char(3)=NULL
	,@COUNTRY varchar(100)=NULL
	,@CURRENCY varchar(10)=NULL
	,@MAIL_FOOTER varchar(max)=NULL

IF (@flag = 'app')--spa_Application_Config @flag='app'
BEGIN
	-----------------Set data to variable from Table to be return for the application configuration------------------    
	SELECT @LOGO_HEIGHT = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'LOGO_HEIGHT'
	SELECT @LOGO_WIDTH = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'LOGO_WIDTH'
	SELECT @LOGO = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'LOGO'
	SELECT @BACKGROUND_IMAGE = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'BACKGROUND_IMAGE'
	SELECT @DATE_FORMAT = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'DATE_FORMAT'
	SELECT @DATE_REGULAR_EXPRESSION = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'DATE_REGULAR_EXPRESSION'
	SELECT @DATE_MASKING_FORMAT = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'DATE_MASKING_FORMAT'
	SELECT @COMPANY_NAME = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'COMPANY_NAME'
	SELECT @WEB_URL = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'WEB_URL'
	SELECT @SYSTEM_NAME = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'SYSTEM_NAME'
	SELECT @CLIENT_EMAIL = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'CLIENT_EMAIL'
	SELECT @ADDRESS = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'ADDRESS'
	SELECT @CLIENT_PHONE = CONFIG_VALUE
	FROM TBL_APPLICATION_CONFIG
	WHERE CONFIG_PARAM = 'CLIENT_PHONE'
	
	SELECT @LOGO_HEIGHT LOGO_HEIGHT
		,@LOGO_WIDTH LOGO_WIDTH
		,@LOGO LOGO
		,@BACKGROUND_IMAGE BACKGROUND_IMAGE
		,@DATE_FORMAT DATE_FORMAT
		,@DATE_REGULAR_EXPRESSION DATE_REGULAR_EXPRESSION
		,@DATE_MASKING_FORMAT DATE_MASKING_FORMAT
		,@COMPANY_NAME COMPANY_NAME
		,@ADDRESS ADDRESS
		,@WEB_URL WEB_URL
		,@SYSTEM_NAME SYSTEM_NAME
		,@CLIENT_EMAIL CLIENT_EMAIL
		,@CLIENT_PHONE CLIENT_PHONE
END
IF (@flag='u')
BEGIN
	update TBL_APPLICATION_CONFIG set CONFIG_VALUE=isnull(@ADDRESS,CONFIG_VALUE) where CONFIG_PARAM='ADDRESS'
	update TBL_APPLICATION_CONFIG set CONFIG_VALUE=isnull(@CLIENT_PHONE,CONFIG_VALUE) where CONFIG_PARAM='CLIENT_PHONE'
	update TBL_APPLICATION_CONFIG set CONFIG_VALUE=isnull(@CLIENT_EMAIL,CONFIG_VALUE) where CONFIG_PARAM='CLIENT_EMAIL'
	update TBL_APPLICATION_CONFIG set CONFIG_VALUE=isnull(@MAIL_PROFILE,CONFIG_VALUE) where CONFIG_PARAM='MAIL_PROFILE'

	update TBL_APPLICATION_CONFIG set CONFIG_VALUE=isnull(@ISO2,CONFIG_VALUE) where CONFIG_PARAM='ISO2'
	update TBL_APPLICATION_CONFIG set CONFIG_VALUE=isnull(@ISO3,CONFIG_VALUE) where CONFIG_PARAM='ISO3'
	update TBL_APPLICATION_CONFIG set CONFIG_VALUE=isnull(@COUNTRY,CONFIG_VALUE) where CONFIG_PARAM='COUNTRY'
	update TBL_APPLICATION_CONFIG set CONFIG_VALUE=isnull(@CURRENCY,CONFIG_VALUE) where CONFIG_PARAM='CURRENCY'
	update TBL_APPLICATION_CONFIG set CONFIG_VALUE=isnull(@ADDRESS,CONFIG_VALUE) where CONFIG_PARAM='GMT_VALUE'


	update TBL_APPLICATION_CONFIG set CONFIG_DESCRIPTION=isnull(@MAIL_FOOTER,CONFIG_DESCRIPTION) where CONFIG_PARAM='MAIL_FOOTER'
	update TBL_APPLICATION_CONFIG set CONFIG_VALUE=isnull(@SYSTEM_NAME,CONFIG_VALUE) where CONFIG_PARAM in ('COMPANY_NAME','SYSTEM_NAME')
END

