{% extends 'base.html' %}

{% block title %} | StyleBox{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Ordered on</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>${{ order.product.name }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.created_ts }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
        <a class="btn btn-success" href="{{ url_for('order.checkout') }}">Go to Checkout</a>      
    </div>
</div>
    
{% endblock %}
