<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - @System.Web.Configuration.WebConfigurationManager.AppSettings["company_name"]</title>

<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

<link href="~/Content/importCh.css" rel="stylesheet" />
<link href="~/Scripts/Toastr/toastr.min.css" rel="stylesheet" />
<link href="~/Scripts/SweetAlert/sweetalert.css" rel="stylesheet" />