
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <center><img src="~/images/Icons/money.png" width="100" /></center>
        </div>
        <div class="form-group center-text">
            <h6>1. PICK YOUR MEAL PLAN</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <center><img src="~/images/Icons/chef.png" width="100" /></center>
        </div>
        <div class="form-group center-text">
            <h6>2. PLANNED & PREPARED</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <center><img src="~/images/Icons/delivery-bike.png" width="100" /></center>
        </div>
        <div class="form-group center-text">
            <h6>3. MEALS CAREFULLY PACKAGED AND DELIVERED</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <center><img src="~/images/Icons/microwave.png" width="100" /></center>
        </div>
        <div class="form-group center-text">
            <h6>4. READY IN MINUTES</h6>
        </div>
    </div>
</div>