<ul>
    <li><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#contact">Contact</a></li>
    @Html.Partial("_Partial/_UserLogoutMenu")
</ul>