{% extends 'base.html' %}

{% block title %}Employee List{% endblock %}

{% block content %}

{%if ctf_browser%}
<h2>Employee List</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Department</th>
        <th>HireDate</th>
        <th>Salary</th>
    </tr>
    {% for employee in employees %}
    <tr>
        <td>{{ employee[0] }}</td>
        <td>{{ employee[1] }}</td>
        <td>{{ employee[2] }}</td>
        <td>{{ employee[3] }}</td>
        <td>{{ employee[4] }}</td>
        <td>{{ employee[5] }}</td>
    </tr>
    {% endfor %}
</table>

<p>
    Please make sure you check all the pages.
</p>
{% else %}
<p>To view this content, you should login from <b>ctfbrowser</b></p>

{% endif %}
{% endblock %}
