{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <br/>
        <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Login</button>
        </div>
    </form>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    </div>
</div>    


{% endblock %}
