@{
    ViewBag.Title = "How it works";
}
<div style="height:100px !important">

</div>
<section class="story-area left-text center-sm-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-sm-30 mb-50 mb-sm-30 center-text"> <h2>How it works</h2> </div>
            </div>
            <div class="col-md-6">
                <h5 class="mb-15">
                    1. PICK YOUR MEAL PLAN
                </h5>
                <p class="mb-30">
                    When ordering, decide which plan suits you best.
                    Select how many days per week and how many meals per day you would like.
                    Once confirmed, choose which two delivery days suit your schedule.
                    After confirming which plan and delivery days suit you, you will be able to select which meals you would
                    like over the duration of the week. The meals will be spilt over two deliveries,
                    so you can plan which meals you would like in each delivery.
                </p>
            </div><!-- col-md-6 -->
            <div class="col-md-6 d-none d-sm-none d-md-block">
                <center><img src="~/images/Icons/money.png" width="150" /></center>
            </div>
            <div class="col-md-6 d-none d-sm-none d-md-block">
                <center><img src="~/images/Icons/chef.png" width="150" /></center>
            </div>
            <div class="col-md-6">
                <h5 class="mb-15">
                    2. PLANNED & PREPARED
                </h5>
                <p class="mb-30">
                    All the food is prepared in our Nourish Fit Food kitchen, where our fresh
                    produce is cooked in accordance with your order. All of our meals are prepared
                    by fully qualified chefs who are passionate about delivering restaurant quality
                    food whilst ensuring ingredients are of the finest local produce packed full of
                    essential vitamins and minerals.
                </p>
            </div><!-- col-md-6 -->

            <div class="col-md-6">
                <h5 class="mb-15">
                    3. MEALS CAREFULLY PACKAGED AND DELIVERED
                </h5>
                <p class="mb-30">
                    Once your meals are cooked, they are carefully packaged by our 
                    kitchen team into our branded, double-walled cardboard box. 
                    Our boxes have a foil liner and ice-coolants to keep your food at the 
                    optimum temperature until it is delivered to your door. 
                    Our trusted courier, DPD collects the food on the afternoon 
                    it is cooked and delivers it the next day, by midday, to the address of your choice.
                </p>
            </div><!-- col-md-6 -->
            <div class="col-md-6 d-none d-sm-none d-md-block">
                <center><img src="~/images/Icons/delivery-bike.png" width="150" /></center>
            </div>
            <div class="col-md-6 d-none d-sm-none d-md-block">
                <center><img src="~/images/Icons/microwave.png" width="150" /></center>
            </div>
            <div class="col-md-6">
                <h5 class="mb-15">
                    4. HEAT & EAT - READY IN MINUTE
                </h5>
                <p class="mb-30">
                    Upon completion of delivery, your food needs to be refrigerated. 
                    All meals have a best before date specified on the label. 
                    Your second batch of meals will be delivered on your chosen day, 
                    we split your plan into two deliveries over the week to ensure all meals are 
                    of maximum taste, quality and freshness.
                </p>
            </div><!-- col-md-6 -->
        </div><!-- row -->

        <h6 class="center-text mt-40 mt-sm-30 mb-20">
            <a href="#" class="btn-primaryc plr-25 mb-10 mlr-5"><b>SEE TODAYS MENU</b></a>
            @*<a href="#" class="btn-primaryc secondary plr-50 mlr-5 mb-10"><b>ORDER NOW</b></a>*@
        </h6>

    </div><!-- container -->
</section>