@model CipherHunt.Models.HomeViewModel
@{
    ViewBag.Title = "Welcome";
}
@section head{
    <link href="~/Content/LightSlider/lightslider.min.css" rel="stylesheet" />
    @Html.Partial("_Partial/_GoogleTag")
    <script data-ad-client="ca-pub-5974620576637621" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
}

<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="images/WebImage/banner-bg.gif" alt="" data-aos="fade-in">

    <div class="container">
        <div class="row justify-content-start">
            <div class="col-lg-8">
                <h2 data-aos="fade-right" data-aos-delay="500" data-aos-duration="3000"><span class="font-red">Cipher </span>Hunt >_</h2>
                <p data-aos="fade-left" data-aos-delay="500" data-aos-duration="2000">Your Challenge Awaits. Ready to Hunt?</p>
                <a href="#about" data-aos="fade-up" data-aos-delay="200" data-aos-duration="2000" class="btn-get-started">Start Here</a>
            </div>
        </div>
    </div>

</section><!-- /Hero Section -->
<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span>About Us<br></span>
        <h2>About Us<br></h2>
        <p>Welcome to CipherHunt, the ultimate platform to sharpen your cybersecurity skills through exciting CTF challenges. Compete solo or with a team as you solve real-world security puzzles, climb the leaderboard, and boost your problem-solving abilities. Ready to capture the flag? Start your CipherHunt today!</p>
    </div><!-- End Section Title -->
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span>Our CTF Challenge collections<br></span>
        <h2>Our CTF Challenge collections<br></h2>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4 mt-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in-up" data-aos-delay="100">
                <img src="images/WebImage/forensic.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Forensic Challenge</h3>
                <p class="fst-italic">
                    Dive into our forensic challenge and ​uncover hidden evidence to solve ​complex investigations and enhance ​your digital forensics skills.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Participants gain experience in recovering deleted or hidden files and analyzing metadata, logs, and other digital artifacts to uncover critical evidence.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Participants can learn to analyze volatile memory (RAM) dumps to extract sensitive information, running processes, or signs of malware that may not be present in disk storage.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Forensic challenges help participants develop skills in detecting hidden information within files (steganography) and reconstructing fragmented files from corrupted or incomplete data (file carving).</span></li>
                </ul>
                <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row gy-4 mt-4">
            <div class="col-lg-6 order-2 order-lg-2 content" data-aos="zoom-in-up" data-aos-delay="200">
                <h3>Web Challenge</h3>
                <p class="fst-italic">
                    Tackle our web challenge to test your ​skills in identifying and exploiting ​vulnerabilities in web applications and ​enhance your cybersecurity expertise.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Participants learn to identify and exploit common web vulnerabilities such as SQL Injection, Cross-Site Scripting (XSS), Cross-Site Request Forgery (CSRF), and Remote Code Execution (RCE).</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>By identifying vulnerabilities, participants gain insights into insecure coding practices and learn how to write more secure code to prevent these issues in real-world applications.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Web challenges often require participants to understand the structure and workings of web technologies like HTTP, cookies, sessions, authentication mechanisms, and server-client communication, helping them better analyze and secure web applications.</span></li>
                </ul>
                <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="col-lg-6 order-1 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <img src="images/WebImage/web_challenge.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row gy-4 mt-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in-up" data-aos-delay="100">
                <img src="images/WebImage/reversing_challenge.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Reversing Challenge</h3>
                <p class="fst-italic">
                    Conquer our reversing challenge by ​delving into binary code to decipher, ​deconstruct, and understand complex ​software and algorithms.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Reversing challenges often require understanding low-level programming languages like assembly. Participants learn how to read and interpret assembly code to trace program execution flow and identify key operations.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Participants practice reconstructing and understanding proprietary algorithms, encryption schemes, or protocols, which enhances their problem-solving abilities and helps them learn how to manipulate or break systems without access to source code.</span></li>
                </ul>
                <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>


</section><!-- /About Section -->
<!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action section dark-background">

    <img src="images/WebImage/cta-bg.png" alt="">

    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3>Call To Action</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a class="cta-btn" href="#">Call To Action</a>
                </div>
            </div>
        </div>
    </div>

</section><!-- /Call To Action Section -->
<!-- Team Section -->
<section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span>Team</span>
        <h2>Team</h2>
        <p>Meet out Cipher Hunt Team</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img src="images/WebImage/team/team-1.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Subash Shahi</h4>
                        <span>Software Developer</span>
                        <p>
                            I am a developer, CTF challenge designer and creator of Cipher hunt. Please follow me on below social media profiles.
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Sarah Jhinson</h4>
                        <span>Marketing</span>
                        <p>
                            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>William Anderson</h4>
                        <span>Content</span>
                        <p>
                            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

        </div>

    </div>

</section><!-- /Team Section -->
<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span>Contact</span>
        <h2>Contact</h2>
        <p>For any inquiries or assistance, feel free to reach out to us at below details, and our team will be happy to help!</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Address</h3>
                    <p>Ellengowan Dr, Casuarina NT 0810</p>
                </div>
            </div><!-- End Info Item -->

            <div class="col-lg-3 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>+1 5589 55488 55</p>
                </div>
            </div><!-- End Info Item -->

            <div class="col-lg-3 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>info@cipherhunt.com</p>
                </div>
            </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14492.575838820176!2d130.8688636!3d-12.3719948!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2b23403c64430495%3A0xfb587574debe8fd9!2sCharles%20Darwin%20University!5e1!3m2!1sen!2sau!4v1726722459312!5m2!1sen!2sau" frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">Send Message</button>
                        </div>

                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section><!-- /Contact Section -->

@section Scripts{

    <script>

    </script>
}