{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the Capture The Flag Challenge</h1>
<p>Try to find the hidden flag!</p>
<img class="img-fluid" src="/static/ctf-flag.jpeg" alt="flag">

<p>    
    <h2>What is CTF?</h2>
    Capture The Flag (CTF) is a popular type of cybersecurity competition that challenges participants to solve a variety of puzzles and 
    problems related to computer security. The objective is to find hidden pieces of data, known as "flags," which are usually strings of text,
     and submit them to earn points. These challenges are designed to simulate real-world cybersecurity scenarios, allowing participants to 
     hone their skills in a fun and competitive environment.<br/><br/>

       
    <h2>Why Participate in a CTF?</h2>
    <ul>
        <li><b>Skill Development:</b> CTFs are an excellent way to develop and refine your cybersecurity skills. Whether you're interested in ethical hacking, penetration testing, 
            or just want to learn more about how systems can be compromised, CTFs offer a hands-on approach to learning.</li>
        <li><b>Problem-Solving:</b> Each challenge in a CTF is like a puzzle that requires critical thinking, creativity, 
            and a methodical approach. You'll learn to think like a hacker, understanding how to uncover and exploit weaknesses in systems.</li>
        <li><b>Collaboration and Networking:</b> Many CTFs are team-based, encouraging collaboration and communication. 
            They're also a great way to meet others in the cybersecurity community and share knowledge and techniques.</li>
        <li><b>Real-World Experience:</b> CTF challenges are designed to mimic real-world scenarios, 
            giving participants practical experience that can be directly applied in the field of cybersecurity.</li>
    </ul><br/>
    Whether you're a beginner or a seasoned pro, participating in a CTF is an exciting way to test your skills, learn new techniques, and engage with the global cybersecurity community.<br/><br/>
</p>
{% endblock %}
