@model Repository.Common.Error_Log
@{
    ViewBag.Title = "GeneralError";
    Layout = "~/Views/Shared/_Error.cshtml";
}

<h1>Oops! Error Occured</h1>
<h2>Error number (@Model.ERROR_ID)</h2>
<p>Something went wrong. Please contact admin and provide the error number</p>

