<div class="container card-pd-20">
    <div class="row">
        <div class="col-md-6">
            <h5 class="white-text">{{appdata.SYSTEM_NAME}}</h5>
            <span ng-bind-html="appdata.ADDRESS"></span>
        </div>
        <div class="col-md-4">
            <h5 class="white-text">How it works:</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">1. Pick your meal plan</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">2. Planned and Prepared</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">3. Packed and Delivered</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">4. Ready in minutess</a></li>
            </ul>
        </div>
    </div>
</div>
<br />
<div class="footer-copyright text-center">
    Copyright © @DateTime.Now.Year All rights reserved.&nbsp;{{appdata.SYSTEM_NAME}}
</div>